@mixin for-mobile {
    @media (max-width: 667px) {
        @content;
    }
}

@mixin for-tablet {
    @media (min-width: 668px) and (max-width: 1020px) {
        @content;
    }
}

@mixin for-desktop {
    @media (min-width: 1021px) and (max-width: 1399px) {
        @content;
    }
}

@mixin for-desktophd {
    @media (min-width: 1400px) and (max-width: 1600px) {
        @content;
    }
}

@mixin for-desktopuhd {
    @media (min-width: 1601px) {
        @content;
    }
}

@media (min-width: 992px) {
    .w-lg-600px {
        width: 610px!important;
    }
}

$font: 'Open Sans',
sans-serif;
$blue: #170c6b;
$lightblue: #0da3e2;
$dullblue: #f6fcff;
body {
    font-family: $font;
    background-color: white;
}

.f18 {
    font-size: 18px;
}

.blue {
    color: $blue;
}

.f_light {
    font-weight: 400;
}

.bg_dullblue {
    background: $dullblue;
}

.lightblue {
    color: $lightblue;
}

.p-rel {
    position: relative;
}

.p-abs {
    position: absolute;
}

.copyrightset {
    position: absolute;
    bottom: 20px;
    right: 25%;
    transform: translateX(50%);
    @include for-mobile {
        right: 50%;
        transform: translateX(50%);
        width: max-content;
    }
}

.login {
    @include for-mobile {
        background: transparent !important;
    }
    .vh100 {
        height: 100vh;
        object-fit: cover;
        @include for-mobile {
            height: 260px;
            object-fit: contain;
        }
    }
}

input.form-control {
    background-color: transparent !important;
    display: block;
    height: auto;
    border: none;
    border-bottom: 1px solid #afafaf !important;
    border-radius: 0;
    padding-left: 35px;
    &:active {
        background-color: transparent !important;
    }
    &:focus {
        background-color: transparent !important;
    }
}

.login {
    background: linear-gradient(to left, white 50%, #F6FCFF 50%);
}

.login_form {
    h1 {
        font-size: 30px;
        margin: 0;
    }
    .p-abs {
        top: 14px;
        i {
            font-size: 17px;
            color: $lightblue;
        }
    }
}